<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Logistics.clean.mapper.WorkMapper">
    
    <resultMap type="Work" id="WorkResult">
        <result property="num"    column="作业号"    />
        <result property="shipcompany"    column="船公司"    />
        <result property="chipname"    column="船名称"    />
        <result property="ws"    column="作业开始时间"    />
        <result property="we"    column="作业结束时间"    />
        <result property="start"    column="始发时间"    />
        <result property="end"    column="到达时间"    />
        <result property="port"    column="作业港口"    />
        <result property="tnum"    column="提单号"    />
        <result property="containernum"    column="集装箱箱号"    />
        <result property="cc"    column="箱尺寸（TEU）"    />
        <result property="splace"    column="启运地"    />
        <result property="eplace"    column="目的地"    />
        <result property="status"    column="操作"    />
        <result property="error"    column="异常"    />
    </resultMap>

    <sql id="selectWorkVo">
        select 作业号, 船公司, 船名称, 作业开始时间, 作业结束时间, 始发时间, 到达时间, 作业港口, 提单号, 集装箱箱号, "箱尺寸（TEU）", 启运地, 目的地, 操作, 异常 from TEMP_WORK
    </sql>

    <select id="selectWorkList" parameterType="Work" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        <where>  
            <if test="num != null "> and 作业号 = #{num}</if>
            <if test="shipcompany != null  and shipcompany != ''"> and 船公司 = #{shipcompany}</if>
            <if test="chipname != null  and chipname != ''"> and 船名称 = #{chipname}</if>
            <if test="ws != null "> and 作业开始时间 = #{ws}</if>
            <if test="we != null "> and 作业结束时间 = #{we}</if>
            <if test="start != null "> and 始发时间 = #{start}</if>
            <if test="end != null "> and 到达时间 = #{end}</if>
            <if test="port != null  and port != ''"> and 作业港口 = #{port}</if>
            <if test="tnum != null  and tnum != ''"> and 提单号 = #{tnum}</if>
            <if test="containernum != null  and containernum != ''"> and 集装箱箱号 = #{containernum}</if>
            <if test="cc != null  and cc != ''"> and "箱尺寸（TEU）" = #{cc}</if>
            <if test="splace != null  and splace != ''"> and 启运地 = #{splace}</if>
            <if test="eplace != null  and eplace != ''"> and 目的地 = #{eplace}</if>
            <if test="status != null "> and 操作 = #{status}</if>
            <if test="error != null "> and 异常 = #{error}</if>
        </where>
    </select>
    
    <select id="selectWorkByNo" parameterType="Integer" resultMap="WorkResult">
        <include refid="selectWorkVo"/>
        where 作业号 = #{num}
    </select>
    <select id="selectAll" resultType="com.ruoyi.Logistics.clean.domain.Work">
        select 提单号,异常 from temp_work;
    </select>

    <insert id="insertWork" parameterType="Work">
        insert into TEMP_WORK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">作业号,</if>
            <if test="shipcompany != null">船公司,</if>
            <if test="chipname != null">船名称,</if>
            <if test="ws != null">作业开始时间,</if>
            <if test="we != null">作业结束时间,</if>
            <if test="start != null">始发时间,</if>
            <if test="end != null">到达时间,</if>
            <if test="port != null">作业港口,</if>
            <if test="tnum != null">提单号,</if>
            <if test="containernum != null">集装箱箱号,</if>
            <if test="cc != null">"箱尺寸（TEU）",</if>
            <if test="splace != null">启运地,</if>
            <if test="eplace != null">目的地,</if>
            <if test="status != null">操作,</if>
            <if test="error != null">异常,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null">#{num},</if>
            <if test="shipcompany != null">#{shipcompany},</if>
            <if test="chipname != null">#{chipname},</if>
            <if test="ws != null">#{ws},</if>
            <if test="we != null">#{we},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="port != null">#{port},</if>
            <if test="tnum != null">#{tnum},</if>
            <if test="containernum != null">#{containernum},</if>
            <if test="cc != null">#{cc},</if>
            <if test="splace != null">#{splace},</if>
            <if test="eplace != null">#{eplace},</if>
            <if test="status != null">#{status},</if>
            <if test="error != null">#{error},</if>
         </trim>
    </insert>

    <update id="updateWork" parameterType="Work">
        update TEMP_WORK
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipcompany != null">船公司 = #{shipcompany},</if>
            <if test="chipname != null">船名称 = #{chipname},</if>
            <if test="ws != null">作业开始时间 = #{ws},</if>
            <if test="we != null">作业结束时间 = #{we},</if>
            <if test="start != null">始发时间 = #{start},</if>
            <if test="end != null">到达时间 = #{end},</if>
            <if test="port != null">作业港口 = #{port},</if>
            <if test="tnum != null">提单号 = #{tnum},</if>
            <if test="containernum != null">集装箱箱号 = #{containernum},</if>
            <if test="cc != null">"箱尺寸（TEU）" = #{cc},</if>
            <if test="splace != null">启运地 = #{splace},</if>
            <if test="eplace != null">目的地 = #{eplace},</if>
            <if test="status != null">操作 = #{status},</if>
            <if test="error != null">异常 = #{error},</if>
        </trim>
        where 提单号 = #{tnum}
    </update>

    <delete id="deleteWorkByNo" parameterType="Long">
        delete from TEMP_WORK where 作业号 = #{num}
    </delete>

    <delete id="deleteWorkByNos" parameterType="String">
        delete from TEMP_WORK where 作业号 in 
        <foreach item="num" collection="array" open="(" separator="," close=")">
            #{num}
        </foreach>
    </delete>

</mapper>