<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Logistics.clean.mapper.UserContainerMapper">
    
    <resultMap type="UserContainer" id="UserContainerResult">
        <result property="num"    column="流水号"    />
        <result property="port"    column="堆存港口"    />
        <result property="containerNum"    column="集装箱箱号"    />
        <result property="cc"    column="箱尺寸（TEU）"    />
        <result property="tNum"    column="提单号"    />
        <result property="place"    column="堆场位置"    />
        <result property="status"    column="操作"    />
        <result property="date"    column="操作日期"    />
    </resultMap>

    <sql id="selectUserContainerVo">
        select 流水号, 堆存港口, 集装箱箱号,  "箱尺寸（TEU）" , 提单号, 堆场位置, 操作, 操作日期 from USER_集装箱动态
    </sql>

    <select id="selectUserContainerList" parameterType="UserContainer" resultMap="UserContainerResult">
        <include refid="selectUserContainerVo"/>
        <where>  
            <if test="num != null "> and 流水号 = #{num}</if>
            <if test="port != null  and port != ''"> and 堆存港口 = #{port}</if>
            <if test="containerNum != null  and containerNum != ''"> and 集装箱箱号 = #{containerNum}</if>
            <if test="cc != null  and cc != ''"> and  "箱尺寸（TEU）"  = #{cc}</if>
            <if test="tNum != null  and tNum != ''"> and 提单号 = #{tNum}</if>
            <if test="place != null  and place != ''"> and 堆场位置 = #{place}</if>
            <if test="status != null  and status != ''"> and 操作 = #{status}</if>
            <if test="date != null "> and 操作日期 = #{date}</if>
        </where>
    </select>
    
    <select id="selectUserContainerByNum" parameterType="Integer" resultMap="UserContainerResult">
        <include refid="selectUserContainerVo"/>
        where 流水号 = #{num}
    </select>
    <select id="selectTempContainerList" resultMap="UserContainerResult">
        select 流水号,堆存港口,集装箱箱号,"箱尺寸（TEU）" ,提单号,堆场位置,操作,操作日期 from temp_集装箱动态 where 异常 = 0
    </select>

    <insert id="insertUserContainer" parameterType="UserContainer">
        insert into USER_集装箱动态
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">流水号,</if>
            <if test="port != null">堆存港口,</if>
            <if test="containerNum != null">集装箱箱号,</if>
            <if test="cc != null"> "箱尺寸（TEU）" ,</if>
            <if test="tNum != null">提单号,</if>
            <if test="place != null">堆场位置,</if>
            <if test="status != null">操作,</if>
            <if test="date != null">操作日期,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null">#{num},</if>
            <if test="port != null">#{port},</if>
            <if test="containerNum != null">#{containerNum},</if>
            <if test="cc != null">#{cc},</if>
            <if test="tNum != null">#{tNum},</if>
            <if test="place != null">#{place},</if>
            <if test="status != null">#{status},</if>
            <if test="date != null">#{date},</if>
         </trim>
    </insert>

    <update id="updateUserContainer" parameterType="UserContainer">
        update USER_集装箱动态
        <trim prefix="SET" suffixOverrides=",">
            <if test="port != null">堆存港口 = #{port},</if>
            <if test="containerNum != null">集装箱箱号 = #{containerNum},</if>
            <if test="cc != null"> "箱尺寸（TEU） " = #{cc},</if>
            <if test="tNum != null">提单号 = #{tNum},</if>
            <if test="place != null">堆场位置 = #{place},</if>
            <if test="status != null">操作 = #{status},</if>
            <if test="date != null">操作日期 = #{date},</if>
        </trim>
        where 流水号 = #{num}
    </update>

    <delete id="deleteUserContainerByNum" parameterType="Integer">
        delete from USER_集装箱动态 where 流水号 = #{num}
    </delete>

    <delete id="deleteUserContainerByNums" parameterType="String">
        delete from USER_集装箱动态 where 流水号 in 
        <foreach item="num" collection="array" open="(" separator="," close=")">
            #{num}
        </foreach>
    </delete>

</mapper>